.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
  
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 10%;
  width: 100%;
  transform: translateY(-50%);
}

.content h1 {
  font-size: clamp(3rem, 4vw, 4em);
  margin-bottom: .5em;
}

.content p {
  font-size: clamp(1.5em, 1vw, 1em);
}

.leagueTable {
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.box {
  width: 100%;  
  height: 100%;
}



.card:hover {
  background-color: #374151;
  transform: scale(0.95);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1em;
  row-gap: 1em;
  min-height: 50rem;
  border-radius: 2rem;
}

.card {
  background-color: #1e293b;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 25rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}


.card h1 {
  font-size: clamp(2rem, 2vw, 2em);
  margin-bottom: 0.5rem;
}

.card p {
  margin-top: 0; 
  font-size: clamp(1rem, 1vw, 1.4em);
}

.card .cardImage {
  margin-top: 3%;
  width: 94%;
  height: 55%;
  background-color: #64748b; 
  border-radius: 1rem;
}