

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contentContainer {
  display: flex;
  position: relative;
  top: 30%; 
  left: 55%; 
  transform: translateX(-50%);
  width: 80%;
  height: 90%;
}

.mainContent {
  position: relative;
  color: #a88360;
  text-align: left;
  width: 50%;
  margin-bottom: 0rem;
}

.mainContent h1 {
  font-size: clamp(5rem, 4.5vw, 15rem);
  line-height: 0.9;
  margin-bottom: 2rem;
  font-family: "Josefin Sans", "Josefin Sans Fallback";
  font-weight: 100;
}

.description {
  margin-top: 0.2rem;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: #e2e2e2;
}

.software {
  color: rgb(216, 78, 44);
}

.developer {
  color: white; 
}

.crack {
  position: relative;
  width: 70%; 
  height: 70%;
  object-fit: contain;
  z-index: 2; 
  pointer-events: none;
  opacity: 0.8; 
}

.iconContainer {
  display: flex;
  gap: 32px;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.iconLink {
  color: #555;
  transition: color 0.3s ease;
}

.iconLink:hover {
  color: #000;
}


@media (max-width: 900px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .mainContent,
  .subContent {
    width: 100%; 
    height: 30%;
    max-width: 90rem;
  }

  .subContent {
    align-self: auto; /* reset flex-end */
  }
}