

.skillSection {
    position: relative;
    z-index: 3;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3rem;
    height: auto;
    margin-top: 7rem;
    font-family: 'Josefin Sans', sans-serif;
    
}

.techStack {
    display: grid;
    grid-template-columns: 30rem 1fr;
    column-gap: 20rem;
    row-gap: 6rem;
}

.techTitle {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    width: 37rem;
    min-height: 6rem;
}

.techContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
}


@media (max-width: 768px) {
    .techStack {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}